<!DOCTYPE html>
<html lang="pt-br" data-theme="dracula">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Epic Task</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1 class="text-primary text-2xl font-bold p-4">Epic Task</h1>
 

    <main class="grid grid-cols-1 gap-4 p-4 place-items-center">
        <form method="POST" class="w-full max-w-md" th:object="${task}" th:action="${'/task/form'}">
            <h2 class="text-secundary font-bold text-xl" th:text="#{task.new}"></h2>
            <fieldset class="fieldset">
                <legend class="fieldset-legend" th:text="#{task.title}">Título</legend>
                <input name="title" th:field="*{title}" th:errorclass="input-error" type="text" class="input" placeholder="título da tarefa"/>
                <p class="label text-error" th:errors="*{title}"></p>
            </fieldset>
            <fieldset class="fieldset">
                <legend class="fieldset-legend" th:text="#{task.description}"></legend>
                <textarea th:field="*{description}" th:errorclass="textarea-error" class="textarea"></textarea>
                <p class="label text-error" th:errors="*{description}"></p>
            </fieldset>
            <fieldset class="fieldset">
                <legend class="fieldset-legend" th:text="#{task.score}"></legend>
                <input id="score-range" th:field="*{score}" name="score" type="range" max="100" min="0" value="40" class="range range-primary" placeholder="descrição completa da tarefa"/>
                <p id="score-label" class="label" th:text="${task.score + ' pts'}"></p>
            </fieldset>
            <div class="">
                <a href="/task" class="btn btn-neutral" th:text="#{task.cancel}"></a>
                <button class="btn btn-primary" th:text="#{task.save}"></button>
            </div>
        </form>
    </main>


    <script>
        document.querySelector("#score-range").addEventListener("input", e => {
            document.querySelector("#score-label").textContent = `${e.target.value} pts`
        })
    </script>
</body>
</html>